# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
### o List popular languages for Data Science
### o List Commonly Used Libraries for Data Science
### o Running Basic Arithmetic Operations

## Some of the popular languages that Data Scientists use are:
### 1. Python
### 2.R
### 3.SQL

## Some of the commonly used libraries used by Data Scientists include:
### 1.Pandas
### 2.NumPy
### 3.ggplot

## Data Science Tools
### 1.Anaconda
### 2.IBM Watson Studio
### 3.Spyder

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minute=200
hour=minute/60
print(hour)

3.3333333333333335

## Author
Karthik